/*global variables for height and width percentage*/
:root {
    --width: 400;
    --height: 600;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
    margin: 0px;
    background-color: #f0f0f0;
}

html {
    width: var(--width);
    height: var(--height);
    margin: 0px;
}

#gameCanvas {
    border: 1px solid #000;
}