body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #f0f0f0;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
}

#gameCanvas {
    border: 1px solid #000;
}